.form{
    width:100%;
    border-collapse:collapse;
    text-align: center;
    background-color: var(--blanco);
    
}

.form th{
    padding:0.9375rem ;
    border:2px solid var(--secundario);
}
.form td{
    padding:0.9375rem ;
    border:2px solid var(--secundario);
}
