/* ==============================
   BOTÓN DE ACCESIBILIDAD
   ============================== */
.btn-accesibilidad {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background: var(--secundario);
    color: var(--blanco);
   
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--acento-mantia);
    font-size: 2rem;
    cursor: pointer;
    z-index: 50;
}


/* ==============================
   HEADER DEL PANEL
   ============================== */
.header-accesibilidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--acento-mantia);
    padding: 10px;
}

.header-accesibilidad img {
    display: flex;
    color: var(--blanco);    
    border-radius: 20%;
}

.header-accesibilidad .cerrar-accesibilidad:hover {
    background: var(--rojo);
}

.texto-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--blanco);
}


/* ==============================
   PANEL DE ACCESIBILIDAD
   ============================== */

.contenedor-btns{
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 0.6rem;
}

.panel-accesibilidad {
    position: fixed;
    bottom: 5rem;
    right: 1.25rem;
    width: auto;
    height: auto;
    background: var(--principal);
    border: 1px solid var(--acento-mantia);
    border-radius: 10px;
    padding: 15px;
    display: none;
    z-index: 50;
}

.panel-accesibilidad.activo {
    display: block;
}

.panel-accesibilidad button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--principal);
    color: var(--blanco);
    border: 1px solid var(--acento-mantia);
    font-weight: bold;
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.9rem;
    border-radius: 0.375rem;
    cursor: pointer;
}


/* ==============================
   SECCION DE TAMAÑO DE TEXTO
   ============================== */
.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--principal);
    border: 1px solid var(--acento-mantia);
    color: var(--blanco);
    font-weight: bold;
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.9rem;
  
    border-radius: 0.375rem;
    cursor: pointer
    
}
.contenedor-texto:hover{transform: translateY(-0.125rem); }



/*contenedor de aumentar y disminuir*/
.grupo-botones {
    display:grid;
    grid-template-columns:auto auto auto;

    gap:1rem;

    justify-content:center;

    max-height:0;
    opacity:0;

    overflow:hidden;

    transition:
        max-height .25s ease,
        opacity .2s ease,
        margin-top .2s ease;
}

/*mostrar botones - y + cuando este activo*/
.contenedor-texto.activo .grupo-botones{ max-height:4rem; opacity:1; margin-top:.75rem;}


/*botones de aumentar y disminuir*/
.btn-texto {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.375rem;

    cursor: pointer;
    color: var(--blanco);
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
/* indicador de tamaño de texto */
.nivel-texto{
    width:auto;
    text-align:center;
    font-weight:bold;
    color:var(--blanco);
    font-size:0.9rem;
}

/* #accesibilidad button{

    transition:
        background .25s,
        transform .2s,
        color .2s;

} */
.panel-accesibilidad .contenedor-texto.activo,
.panel-accesibilidad button.activo{

    background: var(--acento-mantia);

    color: var(--blanco);

    border-color: var(--acento-mantia);

}


.panel-accesibilidad button.activo i{

    color: var(--blanco);

}

