/* ESTILOS HOJAS DE MAQUINAS Y EQUIPOS */
.welcome{grid-area: bienvenida;}
.cards{grid-area: seccion1;}
.cards2{grid-area: seccion2;}
.btn-container{grid-area: botones;}
.middle{grid-area: paneles;}
.alerts-panel{grid-area: alertas;}
/*GRID CONTENEDOR DE HOJAS DE VIDA*/
.cards-grid{
   

    display:grid;

    grid-template:
       "bienvenida"
        "seccion1"
        "seccion2"
        "botones"
        /  1fr;
}

@media (max-width:991px){

    .cards-grid{

        grid-template:
            "bienvenida"
            "seccion1"
            "seccion2"
            "botones"
            / 1fr;
            
            .welcome{
            flex-direction:column;
            align-items:center;
            text-align:center;
            gap:1rem;
        }
    }

     
}
@media (max-width:990px){

    .cards-grid{
        grid-template:
            "bienvenida"
            "seccion1"
            "seccion2"
            "botones"
           
            auto;
        .welcome{
            flex-direction:column;
             align-items:center;
             text-align:center22221;
            gap:1rem;
        }
             
        .cards{
            grid-template-columns:auto
       }
       .cards2{
        grid-template-columns: auto;
       }
       .middle{
        grid-template-columns: auto;
       }

    }
     .cards2{
        overflow-x:auto;
        -webkit-overflow-scrolling:touch;
    }
    .card {
        
        text-align:center;
             
    }
    .icon{
        
        width:auto !important;
        height:auto;
    }
}

/* GRID CONTENEDOR DE TABLAS PRINCIPALES DE CADA ELEMENTO */
/*==========================================
    herramientas maquinas y equipos
============================================*/
.list-grid{

    display:grid;
    gap:1rem;

    grid-template:
        "bienvenida" 
        "table" 
        "botones" 
        / 1fr;
}

@media (max-width:991px){

    .list-grid{

        grid-template:
        "bienvenida"
        "table"
        "botones"
        / 1fr;
        .welcome{
            flex-direction:column;
             align-items:center;
             text-align:center;
            gap:1rem;
        }
             
        .cards{
            grid-template-columns:auto
       }
       .cards2{
        grid-template-columns: 1fr;
       }

    }
    
}   

@media (max-width:990px){

    .list-grid{

        grid-template: 
        "bienvenida"
        "table"
        "botones"
        auto;
        .welcome{
            flex-direction:column;
             align-items:center;
             text-align:center;
            gap:1rem;
        }
             
        .cards{
            grid-template-columns:auto
       }
       .cards2{
        grid-template-columns: auto;
       }
       .cards2{
        overflow-x:auto;
        -webkit-overflow-scrolling:touch;
    }

    }
}

/*==========================================
    Alertas griiiiiiiiiiiiiiiiiiiiiiiiiiid
============================================*/
.grid-contenedor-5{
    display:grid;
    gap:20px;

    grid-template:
        "bienvenida" 
        "secciones" 
        "secciones2" 
        / 1fr;
}

/* ===== TABLET ===== */
@media (max-width:991px){

    .grid-contenedor-5{
        grid-template:
        "bienvenida"
        "secciones"
        "secciones2"
        / 1fr;
        .welcome{
            flex-direction:column;
            align-items:center;
            text-align:center;
            gap:1rem;
        }
        .cards{
            grid-template-columns:auto
        }
        .cards2{
            grid-template-columns: 1fr;
        }
        .cards2 table{
            min-width:700px;
        }
    }
}   

/* ===== MOVIL ===== */
@media (max-width:990px){

    .grid-contenedor-5{
        grid-template: 
        "bienvenida"
        "secciones"
        "secciones2"
        auto;
        .welcome{
            flex-direction:column;
            align-items:center;
            text-align:center;
            gap:1rem;
        }
        .cards{
            grid-template-columns:auto
        }
        .cards2{
            grid-template-columns: auto;
        }
        .cards2{
            overflow-x:auto;
            -webkit-overflow-scrolling:touch;
        }
    }
}

/*==========================================
    Grid perfil
============================================*/

.grid-contenedor-3{
  min-height:100vh;
  display:grid;

  grid-template:
    "bienvenida"
    "secciones"
    "secciones2"
    "paneles"
    /  1fr;
}

/* ===== TABLET ===== */
@media (max-width:991px){
  .grid-contenedor-3{
    grid-template:
      "bienvenida"
      "secciones"
      "secciones2"
      "paneles"
      / 1fr;
      .welcome{
      flex-direction:column;
      align-items:center;
      text-align:center;
      gap:1rem;
    }
  }     
}

/* ===== MOVIL ===== */
@media (max-width:990px){
  .grid-contenedor-3{
    grid-template:
      "bienvenida"
      "secciones"
      "secciones2"
      "paneles"
      auto;
    .welcome{
      flex-direction:column;
      align-items:center;
      text-align:center;
      gap:1rem;
    }     
    .cards{
      grid-template-columns:auto
    }
    .cards2{
      grid-template-columns: auto;
    }
    .middle{
      grid-template-columns: auto;
    }
  }
  .card {
    text-align:center;      
  }
  .icon{
    width:auto;
    height:auto;
  }
}
